.fridge-info-text {
    margin-top: 8px;
    color: black;
}

.fridge-info-open {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    background-color: green;
}

.fridge-info-closed {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    background-color: red;
}


.fridge-info-container {
    display: flex;
    flex-direction: column;
}

.fridge-info-header {
    display: flex;
    flex-direction: row;
}

@media screen and (max-width: 1040px) {
    .fridge-info-container {
        padding-top: 30px;
    }
}
